header {background-color: orange;
        position: relative;}

section {background-color: aqua;}

nav {background-color: yellow;}

footer {background-color: yellowgreen;}

body {font-family: Comic Sans MS;
      color: purple}

h1: {color: red}

a: {color: black}

li: display: inline;


